# Dependency directories
node_modules/
backend/node_modules/
*/node_modules/

# Environment variables
.env

# Compressed archives
*.zip

# Temporary & editor files
*.swp
*.swo
.DS_Store

# Temporary workflow exports
My workflow*.json
